		#slideshow{
			
		}
		.carousel-caption{
			margin-top: 10px;
			background: #000;
			width: 100%;
			padding: 5px;
			left: 0;
			bottom: 0;
			color: #fff;
			text-align: center;
			opacity: 0.7;
		}
		.fa{
			opacity: 0.7;
		}
		#belt{
			border-bottom: 5px solid #000;
			border-top: 5px solid #000;
			text-align: center;
			background: url('/var/www/images/broken_noise.png');
			padding: 2px;
		}
		#main{
			text-align: center;
		}
		#body{

		}
		.feature{
			display: inline-block;
		}
		#control{
			margin-top: 5px;
		}
		.carousel-control.right, .carousel-control.left {
			background: #181818;
			background:url('/var/www/images/broken_noise.png');
		}