#lounge-nav{
			width: 100%;
			text-align: center;
			margin-top: -120px;
		}
.btn{
	background: #000;
	opacity: 0.4;
	border: 1px solid #000;
	border-radius: 3px;
	color: #fff;
}
.panel{
	width: 70%;
	float: right;
	margin-bottom: 10px;
}
.panel-heading{
	background:url('../images/broken_noise.png');
	border: 1px solid #000;
	border-radius: 3px;
	padding: 5px;
}
.panel-title{
	font-size: 1.1em;
}
.panel-body{
	background:url('../images/gray_sand.png');
	padding: 10px;
	border: 1px solid #000;
}
.panel-text{
	width: 75%;
	margin:auto;
}