html, body{
			margin:0;
		    padding:0;
		    background: #474747;
		    background: url('/images/dark_stripes.png');
		    color: #fff;
		    font-family: sans-serif;
		    width:100%;
		    min-width:1000px;
		    height: 100%;
		}
		/*SCROLLBARS*/
		::-webkit-scrollbar              { width:10px; height:10px; background:rgba(27,27,27,1);}
		::-webkit-scrollbar-button       { 
		  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #4d4d4d), color-stop(100%, #333333));
		  border: 1px solid #0d0d0d;
		  height: 10px;
		  width: 10px;
		  border-top: 1px solid #666666;
		  border-left: 1px solid #666666; }
		::-webkit-scrollbar-button:vertical:increment {background: rgb(27,27,27); background:url(/infinity/dev/images/down.png) no-repeat; background-size:6px; background-position:center} 
		::-webkit-scrollbar-button:vertical:increment:active, ::-webkit-scrollbar-button:vertical:increment:hover { background:url(/infinity/dev/images/down2.png) no-repeat; background-size:6px; background-position:center} 
		::-webkit-scrollbar-button:vertical:decrement {background: rgb(27,27,27);background:url(/infinity/dev/images/up.png) no-repeat; background-size:6px; background-position:center} 
		::-webkit-scrollbar-button:vertical:decrement:active, ::-webkit-scrollbar-button:vertical:decrement:hover { background:url(/infinity/dev/images/up2.png) no-repeat; background-size:6px; background-position:center} 
		::-webkit-scrollbar-button:horizontal:increment { background:url(/infinity/dev/images/right.png) no-repeat; background-size:6px; background-position:center} 
		::-webkit-scrollbar-button:horizontal:increment:active, ::-webkit-scrollbar-button:horizontal:increment:hover { background:url(/infinity/dev/images/right2.png) no-repeat; background-size:6px; background-position:center} 
		::-webkit-scrollbar-button:horizontal:decrement { background:url(/infinity/dev/images/left.png) no-repeat; background-size:6px; background-position:center} 
		::-webkit-scrollbar-button:horizontal:decrement:active, ::-webkit-scrollbar-button:horizontal:decrement:hover { background:url(/infinity/dev/images/left2.png) no-repeat; background-size:6px; background-position:center} 

		::-webkit-scrollbar-track        { }
		::-webkit-scrollbar-track-piece  {background:rgba(79,79,79,1);}
		::-webkit-resizer                {  }
		::-webkit-scrollbar-thumb { 
		  background: rgba(27,27,27,1);
		  opacity: 0.5;
		  border: 1px solid #0d0d0d;
		  border-top: 1px solid #666666;
		  border-left: 1px solid #666666;}
		::-webkit-scrollbar-thumb:hover  { background:rgba(27,27,27,.6)}
		::-webkit-scrollbar-corner       {  }
		input, textarea{
			border-radius: 3px;
			border: 1px solid #000;
			padding: 5px;
			background-color: rgba(255, 255, 255, .4);
			color: #000;
		}
		#toolbar{
			border-bottom: 1px solid black;
			padding: 5px;
			text-align: center;
			border-bottom: 3px solid black;
			background: url('/infinity/dev/images/broken_noise.png');
		}
		#main{
			margin-left: 17%;
		}
		#control{
			width: 16%;
			height: 100%;
			position: fixed;
			padding: 5px;
			text-align: center;
			background: url('/infinity/dev/images/broken_noise.png');
			border-right: 1px solid #666666;
			overflow-y: auto;
			z-index: 10;
		}
		.group-toolbar{
			
		}
		.unselectable {
		   -moz-user-select: none;
		   -khtml-user-select: none;
		   -webkit-user-select: none;

		   /*
		     Introduced in IE 10.
		     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
		   */
		   -ms-user-select: none;
		   user-select: none;
		}
		.group{
			display: inline-block;
			border: 1px solid black;
			margin: 5px;
			padding: 10px;
			text-align: center;
			width: 28%;
			height: 250px;
			overflow-y: auto;
			background: url('/infinity/dev/images/gray_sand.png');
			border-radius: 3px;
			border: 1px solid #666666;
		}
		.name{
			font-size: 2em;
			display: block;
			cursor: pointer;
		}
		.member{
			display: block;
			padding: 5px;
			cursor: pointer;
		}
		.link{
			opacity: .7;
			-webkit-transition: all linear 0.2s;
		    -moz-transition: all linear 0.2s;
		    -ms-transition: all linear 0.2s;
		    -o-transition: all linear 0.2s;
		    transition: all linear 0.2s;
		    cursor: pointer;
		}
		.link:hover{
			opacity: 1;
		}
		#contacts{
			text-align: center;
			height: 100%;
		}
		.i{
			font-style: italic;
		}
		.b{
			font-weight: bold;
		}
		.opts{
			text-align: left;
		}