/* CSS Document */

.autocomplete, .dropdown, .results{
    margin:0;
    padding:0;
    width:200px;
}

.autocomplete{
    backgrond-color:transparent;
    padding:3px;
    overflow:hidden;
    position:absolute;
}

.results{
    width:210;
    list-style:none;
}

.results li{
    padding:5px;
    border:1px solid;
    border-top:0;
    cursor:pointer;
}

.results li:hover{
    background:#000;
    color:#fff;
}